#scratch
{
	z-index: 1;
}

#mfd-menu 
{
    position: absolute;
    top: 0px;
    left: 260px;
    height: 28px;
    color: #FFF;
    z-index: 2;
    background-color: #30485f;
    font-size: 13px;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px;
    padding: 5px 20px 0px 20px;
}

#mfd-menu:hover
{
	background-color: #3e5972;
}